  .navbar{
      list-style: none;
      background-color: #467fdb;
      overflow: hidden;
      padding: 0;
    }
    .body {
        background-size: 200% 200%;
    }

    .navbar a, .dropdown div{
      text-decoration: none;
      color: pink;
      font-size: 24px;
      padding: 16px;
      display: inline-block;
    }
    .navbar li{
      float: right;
    }

    .navbar li:hover{
      background-color:cyan;
    }
    .navbar li:hover a {
      color:pink;

    }

    .dropdown:hover .dropdown div {
      color:pink;

    }


    .dropdown-content{
      list-style: none;
      font-size:20px;
      padding: 0;
      display: none;
      position:absolute;
      z-index:2;
      background-color:#467fdb;
      color:pink;
    }

    .dropdown-content li{
      float:none;
    }

    .dropdown:hover .dropdown-content{
      display: block;
    }
    .active {
      background-color:cyan;

    }
    .active a {
      color:pink;
    }
    .rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  }
  .padding {
    padding-left:350px;
  }
  .padding2 {
    padding-left:380px;
  }
  .padding3 {
      padding-left:40px;
  }
  .float p {
    font-size:11px;
  }
  .background {
      z-index:1;
  }
  .title{
      text-align:center;
      background: red;
  }
  .nopadding tr {
      padding-top:10px;
  }
  .padding4 {
      padding-left:750px;
  }
  .padding5 {
      padding-left:0px;
  }